(
    egui_style: (
        override_text_style: None,
        override_font_id: None,
        override_text_valign: Some(Center),
        text_styles: {
            Small: (
                size: 9.0,
                family: Proportional,
            ),
            Body: (
                size: 13.0,
                family: Proportional,
            ),
            Monospace: (
                size: 13.0,
                family: Monospace,
            ),
            Button: (
                size: 13.0,
                family: Proportional,
            ),
            Heading: (
                size: 18.0,
                family: Proportional,
            ),
        },
        drag_value_text_style: Button,
        wrap: None,
        wrap_mode: None,
        spacing: (
            item_spacing: (
                x: 8.0,
                y: 3.0,
            ),
            window_margin: (
                left: 6,
                right: 6,
                top: 6,
                bottom: 6,
            ),
            button_padding: (
                x: 4.0,
                y: 1.0,
            ),
            menu_margin: (
                left: 6,
                right: 6,
                top: 6,
                bottom: 6,
            ),
            indent: 18.0,
            interact_size: (
                x: 40.0,
                y: 18.0,
            ),
            slider_width: 100.0,
            slider_rail_height: 8.0,
            combo_width: 100.0,
            text_edit_width: 280.0,
            icon_width: 14.0,
            icon_width_inner: 8.0,
            icon_spacing: 4.0,
            default_area_size: (
                x: 600.0,
                y: 400.0,
            ),
            tooltip_width: 500.0,
            menu_width: 400.0,
            menu_spacing: 2.0,
            indent_ends_with_horizontal_line: false,
            combo_height: 200.0,
            scroll: (
                floating: true,
                content_margin: (
                    left: 0,
                    right: 0,
                    top: 0,
                    bottom: 0,
                ),
                bar_width: 10.0,
                handle_min_length: 12.0,
                bar_inner_margin: 4.0,
                bar_outer_margin: 0.0,
                floating_width: 2.0,
                floating_allocated_width: 0.0,
                foreground_color: true,
                dormant_background_opacity: 0.0,
                active_background_opacity: 0.4,
                interact_background_opacity: 0.7,
                dormant_handle_opacity: 0.0,
                active_handle_opacity: 0.6,
                interact_handle_opacity: 1.0,
                fade: (
                    strength: 0.5,
                    size: 20.0,
                ),
            ),
        ),
        interaction: (
            interact_radius: 5.0,
            resize_grab_radius_side: 3.0,
            resize_grab_radius_corner: 10.0,
            show_tooltips_only_when_still: true,
            tooltip_delay: 0.5,
            tooltip_grace_time: 0.2,
            selectable_labels: true,
            multi_widget_text_select: true,
        ),
        visuals: (
            dark_mode: true,
            text_options: (
                max_texture_side: 2048,
                alpha_from_coverage: TwoCoverageMinusCoverageSq,
                font_hinting: true,
            ),
            override_text_color: None,
            weak_text_alpha: 0.6,
            weak_text_color: None,
            widgets: (
                noninteractive: (
                    bg_fill: ((27, 27, 27, 255)),
                    weak_bg_fill: ((27, 27, 27, 255)),
                    bg_stroke: (
                        width: 1.0,
                        color: ((45, 45, 45, 255)),
                    ),
                    corner_radius: (
                        nw: 2,
                        ne: 2,
                        sw: 2,
                        se: 2,
                    ),
                    fg_stroke: (
                        width: 1.0,
                        color: ((140, 140, 140, 255)),
                    ),
                    expansion: 0.0,
                ),
                inactive: (
                    bg_fill: ((60, 60, 60, 255)),
                    weak_bg_fill: ((60, 60, 60, 255)),
                    bg_stroke: (
                        width: 0.0,
                        color: ((0, 0, 0, 0)),
                    ),
                    corner_radius: (
                        nw: 2,
                        ne: 2,
                        sw: 2,
                        se: 2,
                    ),
                    fg_stroke: (
                        width: 1.0,
                        color: ((180, 180, 180, 255)),
                    ),
                    expansion: 0.0,
                ),
                hovered: (
                    bg_fill: ((70, 70, 70, 255)),
                    weak_bg_fill: ((70, 70, 70, 255)),
                    bg_stroke: (
                        width: 1.0,
                        color: ((150, 150, 150, 255)),
                    ),
                    corner_radius: (
                        nw: 3,
                        ne: 3,
                        sw: 3,
                        se: 3,
                    ),
                    fg_stroke: (
                        width: 1.5,
                        color: ((240, 240, 240, 255)),
                    ),
                    expansion: 0.0,
                ),
                active: (
                    bg_fill: ((55, 55, 55, 255)),
                    weak_bg_fill: ((55, 55, 55, 255)),
                    bg_stroke: (
                        width: 1.0,
                        color: ((255, 255, 255, 255)),
                    ),
                    corner_radius: (
                        nw: 2,
                        ne: 2,
                        sw: 2,
                        se: 2,
                    ),
                    fg_stroke: (
                        width: 2.0,
                        color: ((255, 255, 255, 255)),
                    ),
                    expansion: 0.0,
                ),
                open: (
                    bg_fill: ((27, 27, 27, 255)),
                    weak_bg_fill: ((45, 45, 45, 255)),
                    bg_stroke: (
                        width: 1.0,
                        color: ((60, 60, 60, 255)),
                    ),
                    corner_radius: (
                        nw: 2,
                        ne: 2,
                        sw: 2,
                        se: 2,
                    ),
                    fg_stroke: (
                        width: 1.0,
                        color: ((210, 210, 210, 255)),
                    ),
                    expansion: 0.0,
                ),
            ),
            selection: (
                bg_fill: ((0, 92, 128, 255)),
                stroke: (
                    width: 1.0,
                    color: ((192, 222, 255, 255)),
                ),
            ),
            hyperlink_color: ((90, 170, 255, 255)),
            faint_bg_color: ((5, 5, 5, 0)),
            extreme_bg_color: ((10, 10, 10, 255)),
            text_edit_bg_color: None,
            code_bg_color: ((64, 64, 64, 255)),
            warn_fg_color: ((255, 143, 0, 255)),
            error_fg_color: ((255, 0, 0, 255)),
            window_corner_radius: (
                nw: 6,
                ne: 6,
                sw: 6,
                se: 6,
            ),
            window_shadow: (
                offset: (10, 20),
                blur: 15,
                spread: 0,
                color: ((0, 0, 0, 96)),
            ),
            window_fill: ((27, 27, 27, 255)),
            window_stroke: (
                width: 1.0,
                color: ((60, 60, 60, 255)),
            ),
            window_highlight_topmost: true,
            menu_corner_radius: (
                nw: 6,
                ne: 6,
                sw: 6,
                se: 6,
            ),
            panel_fill: ((27, 27, 27, 255)),
            popup_shadow: (
                offset: (6, 10),
                blur: 8,
                spread: 0,
                color: ((0, 0, 0, 96)),
            ),
            resize_corner_size: 12.0,
            text_cursor: (
                stroke: (
                    width: 2.0,
                    color: ((192, 222, 255, 255)),
                ),
                preview: false,
                blink: true,
                on_duration: 0.5,
                off_duration: 0.5,
            ),
            clip_rect_margin: 3.0,
            button_frame: true,
            collapsing_header_frame: false,
            indent_has_left_vline: true,
            striped: false,
            slider_trailing_fill: false,
            handle_shape: Rect(
                aspect_ratio: 0.75,
            ),
            interact_cursor: None,
            image_loading_spinners: true,
            numeric_color_space: GammaByte,
            disabled_alpha: 0.5,
        ),
        animation_time: 0.1,
        debug: (
            debug_on_hover: false,
            debug_on_hover_with_all_modifiers: false,
            hover_shows_next: false,
            show_expand_width: false,
            show_expand_height: false,
            show_resize: false,
            show_interactive_widgets: false,
            show_widget_hits: false,
            warn_if_rect_changes_id: true,
            show_unaligned: true,
            show_focused_widget: false,
        ),
        explanation_tooltips: false,
        url_in_tooltip: false,
        always_scroll_the_only_direction: false,
        scroll_animation: (
            points_per_second: 1000.0,
            duration: (
                min: 0.1,
                max: 0.3,
            ),
        ),
        compact_menu_style: true,
    ),
    dock_style: (
        dock_area_padding: None,
        main_surface_border_stroke: (
            width: 0.0,
            color: ((0, 0, 0, 0)),
        ),
        main_surface_border_rounding: (
            nw: 0,
            ne: 0,
            sw: 0,
            se: 0,
        ),
        buttons: (
            close_tab_color: ((140, 140, 140, 255)),
            close_tab_active_color: ((255, 255, 255, 255)),
            close_tab_bg_fill: ((70, 70, 70, 255)),
            add_tab_align: Right,
            add_tab_color: ((140, 140, 140, 255)),
            add_tab_active_color: ((255, 255, 255, 255)),
            add_tab_bg_fill: ((70, 70, 70, 255)),
            add_tab_border_color: ((27, 27, 27, 255)),
            close_all_tabs_color: ((140, 140, 140, 255)),
            close_all_tabs_active_color: ((255, 255, 255, 255)),
            close_all_tabs_bg_fill: ((70, 70, 70, 255)),
            close_all_tabs_border_color: ((27, 27, 27, 255)),
            close_all_tabs_disabled_color: ((60, 60, 60, 255)),
            collapse_tabs_color: ((140, 140, 140, 255)),
            collapse_tabs_active_color: ((255, 255, 255, 255)),
            collapse_tabs_bg_fill: ((70, 70, 70, 255)),
            collapse_tabs_border_color: ((27, 27, 27, 255)),
            minimize_window_color: ((140, 140, 140, 255)),
            minimize_window_active_color: ((255, 255, 255, 255)),
            minimize_window_bg_fill: ((70, 70, 70, 255)),
            minimize_window_border_color: ((27, 27, 27, 255)),
        ),
        separator: (
            width: 4.0,
            extra_interact_width: 2.0,
            extra: 175.0,
            color_idle: ((0, 0, 0, 0)),
            color_hovered: ((153, 153, 153, 255)),
            color_dragged: ((216, 204, 151, 255)),
        ),
        tab_bar: (
            bg_fill: ((10, 10, 10, 255)),
            height: 32.0,
            inner_margin: (
                left: 4,
                right: 3,
                top: 5,
                bottom: 0,
            ),
            show_scroll_bar_on_overflow: true,
            corner_radius: (
                nw: 4,
                ne: 4,
                sw: 0,
                se: 0,
            ),
            hline_color: ((0, 0, 0, 0)),
            fill_tab_bar: false,
        ),
        tab: (
            active: (
                outline_color: ((0, 0, 0, 0)),
                corner_radius: (
                    nw: 2,
                    ne: 2,
                    sw: 0,
                    se: 0,
                ),
                bg_fill: ((27, 27, 27, 255)),
                text_color: ((140, 140, 140, 255)),
            ),
            inactive: (
                outline_color: ((0, 0, 0, 0)),
                corner_radius: (
                    nw: 2,
                    ne: 2,
                    sw: 0,
                    se: 0,
                ),
                bg_fill: ((18, 18, 18, 255)),
                text_color: ((140, 140, 140, 255)),
            ),
            focused: (
                outline_color: ((0, 0, 0, 0)),
                corner_radius: (
                    nw: 2,
                    ne: 2,
                    sw: 0,
                    se: 0,
                ),
                bg_fill: ((27, 27, 27, 255)),
                text_color: ((255, 255, 255, 255)),
            ),
            hovered: (
                outline_color: ((0, 0, 0, 0)),
                corner_radius: (
                    nw: 2,
                    ne: 2,
                    sw: 0,
                    se: 0,
                ),
                bg_fill: ((18, 18, 18, 255)),
                text_color: ((255, 255, 255, 255)),
            ),
            inactive_with_kb_focus: (
                outline_color: ((0, 0, 0, 0)),
                corner_radius: (
                    nw: 2,
                    ne: 2,
                    sw: 0,
                    se: 0,
                ),
                bg_fill: ((18, 18, 18, 255)),
                text_color: ((255, 255, 255, 255)),
            ),
            active_with_kb_focus: (
                outline_color: ((0, 0, 0, 0)),
                corner_radius: (
                    nw: 2,
                    ne: 2,
                    sw: 0,
                    se: 0,
                ),
                bg_fill: ((27, 27, 27, 255)),
                text_color: ((255, 255, 255, 255)),
            ),
            focused_with_kb_focus: (
                outline_color: ((0, 0, 0, 0)),
                corner_radius: (
                    nw: 2,
                    ne: 2,
                    sw: 0,
                    se: 0,
                ),
                bg_fill: ((27, 27, 27, 255)),
                text_color: ((255, 255, 255, 255)),
            ),
            tab_body: (
                inner_margin: (
                    left: 6,
                    right: 6,
                    top: 6,
                    bottom: 6,
                ),
                stroke: (
                    width: 0.0,
                    color: ((0, 0, 0, 255)),
                ),
                corner_radius: (
                    nw: 2,
                    ne: 2,
                    sw: 2,
                    se: 2,
                ),
                bg_fill: ((27, 27, 27, 255)),
            ),
            hline_below_active_tab_name: false,
            spacing: 2.0,
            minimum_width: None,
        ),
        overlay: (
            selection_color: ((0, 46, 64, 128)),
            selection_stroke_width: 1.0,
            button_spacing: 4.0,
            max_button_size: 100.0,
            hovered_leaf_highlight: (
                color: ((0, 0, 0, 0)),
                corner_radius: (
                    nw: 0,
                    ne: 0,
                    sw: 0,
                    se: 0,
                ),
                stroke: (
                    width: 0.0,
                    color: ((0, 0, 0, 0)),
                ),
                expansion: 0.0,
            ),
            surface_fade_opacity: 0.1,
            button_color: ((140, 140, 140, 255)),
            button_border_stroke: (
                width: 1.0,
                color: ((60, 60, 60, 255)),
            ),
            overlay_type: Widgets,
            feel: (
                window_drop_coverage: 0.5,
                center_drop_coverage: 0.25,
                fade_hold_time: 0.2,
                max_preference_time: 0.3,
                interact_expansion: 20.0,
            ),
        ),
    ),
)